@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,900');

body{
	background-color: #eaeaea;
	margin: 70px;
	font-size: 14pt;
	font-family: Lato;
	line-height: 20pt;

}
h1{
	font-size: 67pt;
	line-height: 60pt;
	color: #282828;
}
h2{
	font-size: 58pt;
	margin-left: 50%;
	line-height: 60pt;
	color: #cc8436;
	text-align: right;
}
h3{
	font-size: 18pt;
	color: #cc8436;
	font-weight: bold;
}
a{
	font-weight: bold;
	color: #282828;
}

div#zen-summary.summary{
	padding-left: 50%;
	text-align: right;
	font-weight: lighter;
	position: relative;
	top:-30px;
}
div#zen-preamble.preamble{
	padding-left: 50%;
	position: relative;
	top:100px;
}

div#zen-supporting{
	position: absolute;
	top:1100px;
	padding-left: 30%;
	margin-right: 70px;


}

.sidebar{
	position: absolute;
	top: 1100px;
	background-color: #282828;
	margin-right: 66.6%;
	margin-left: -70px;
	padding-right: 10px;
	padding-left: 70px;
	padding-top: : 20px;
	padding-bottom: 20px;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	color:#eaeaea;
}

.sidebar a{
	color:#eaeaea;
	font-weight: 400;
}

.sidebar h3{
	color:#cc8436;
}

footer{
	background-color: #282828;
	text-align: center;
	padding: 70px 0px 30px 0px;
	margin-top: 150px;
	margin-right: -70px;
	margin-left: -475px;
}

footer a{
	color:#eaeaea;
	font-size: 14pt;
	font-weight: 400;

}

img{
	height: 740px;
	width: 640px;
	float: left;
	position: relative;
	bottom:320px;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	margin-left: -70px;
}

div#zen-requirements p:last-child{
	text-align: center;
	position: relative;
	top: 210px;
	color: #eaeaea;
	margin-left: -50%;

}
div#zen-requirements p:last-child a{
	color:#eaeaea;
	font-weight: 400;

}